# Docker files
Dockerfile
docker-compose.*ml
.dockerignore

# Dependency directory
node_modules/

# npm cache directory
.npm/

# Logs
logs/
*.log*

# ESLint files
.eslint*

# env files
.env*

# Markdown and LICENSE files
*.md
LICENSE

# Script directory
scripts/

# Git
.git/
.gitignore

# Project directories
.idea/
